@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&family=Comfortaa&family=Kaushan+Script&family=Oswald&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #B4E4FF;
	font-family: poppins, sans-serif;
}
#board {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	gap: 0.7px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.controls-color {
	display: flex;
	gap: 70px;
}
.controls {
	display: flex;
	gap: 25px;
}
label {
	margin-bottom: 15px;
}
.buttons {
	display: flex;
	gap: 25px;
}
button {
	font-family: inherit;
	margin-bottom: 20px;
	padding: 5px 20px;
	outline: none;
	border-radius: 5px;
	border: solid 1px;
	background-color: #DFFFD8;
}
button:active {
	transform: scale(95%);
}